body{
    background-image: url('../png/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer{
    background-color: #212529;
    color: white;
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 25px;
    padding-top: 3px;
}
.row {
    background-color: rgb(48, 48, 48);
}
a{
    text-decoration: none !important;
    color: wheat !important;
}
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE i Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
@keyframes czolg {
  from {
    left: 100%;
  }

  to {
    left: -10%;
  }
}

.czolg>.ralsi {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 155px;
  animation: czolg 20s infinite linear;
}